/.vs
/StatisticsCollection/StatisticsCollection/bin
/StatisticsCollection/StatisticsCollection/obj
/StatisticsCollection/StatisticsCollection.Android/bin
/StatisticsCollection/StatisticsCollection.Android/obj
/StatisticsCollection/StatisticsCollection.iOS/bin
/StatisticsCollection/StatisticsCollection.iOS/obj
